#include "../../Pods/Target Support Files/Pods-backbone/Pods-backbone.release.xcconfig"

DEV_MODE = false
API_SERVER_URL = https:/$()/api.gobackbone.com
WEB_SERVER_URL = https:/$()/gobackbone.com

// Define all of the following in Release.local.xcconfig
MIXPANEL_TOKEN = replace me

#include "Release.local.xcconfig"
